@import 'scss/_autoload';

.btn
{
	padding: 5px 10px;

	border: 0px none;
	border-radius: 3px;

	background: $color-primary;

	font: $font-button;
	color: $color-text-default;

	cursor: pointer;

	&.large
	{
		padding: 5px 20px;

		font: $font-button-large;
	}
}

input[type="text"],
input[type="password"],
input[type="email"]
{
	padding: 4px 7px;

	background: none;

	border: 0px;
	border-bottom: 2px solid $color-primary;

	font: $font-default;
	color: #7E7E7E;

	transition: border-color 0.5s;
	will-change: border-color;

	&:focus
	{
		border-bottom-color: $color-secondary;
	}

	&::placeholder 
	{
		font-style: italic;
	}
}