@import 'scss/_autoload';

.transmission-list
{
	margin-top: 40px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.transmission-box
{
	width: 300px;

	margin-bottom: 30px;

	img
	{
		width: 100%;

		margin-bottom: 15px;
	}

	header
	{
		margin-bottom: 5px;
	}

	.game
	{
		color: $color-gray;
	}
}
