
// Colors:
$color-background: #0F041E;
$color-text-default: #fff;

$color-primary: #4D1499;
$color-primary-darker: #2D0C59;

$color-secondary: #00B0FF;

$color-gray: #808080;

// Fonts:
$font-default: 14px/16px "Segoe UI";
$font-h2: 36px/36px "Oswald";
$font-h3: 30px/36px "Oswald";
$font-h4: 22px/36px "Oswald";
$font-button: 16px "Oswald";