@import 'scss/_autoload';

#root
{
	width: 1400px;

	margin: 0px auto; // justify-content: center; doesn't work as it should (centers, but also cuts left side of content if size is > than window size)

	display: grid;

	grid-template-columns: 1000px 300px;
	grid-template-rows: auto;
	grid-template-areas:
		"header header"
		"left-column right-column"
		"footer footer";
	grid-column-gap: 100px;
}


#root > header.page
{
	@import './_page-header';

	grid-area: header;
}

#root > .right-column
{
	grid-area: right-column;

	> .box
	{
		padding: 12px 0px 15px;

		> header
		{
			padding: 0px 10px;
			margin-bottom: 5px;

			font: $font-h4;
		}
	}

	> .upcoming-games
	{
		@import './_upcoming-game';

		margin-bottom: 50px;
	}

	> .live-transmissions
	{
		@import './_live-transmission';

		margin-bottom: 50px;
	}

	> .social-media
	{
		margin-bottom: 50px;
	}
}

#root > footer.page
{
	grid-area: footer;

	margin-top: 50px;

	> .container
	{
		width: 1000px;

		margin: 0px auto;
	}

	#google-ad-footer,
	#google-ad-footer img
	{
		height: 250px;
	}

	.newsletter
	{
		padding: 15px 5% 25px;
		margin-top: 50px;

		display: grid;
		align-items: center;
		
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'text form';

		.text
		{
			grid-area: text;

			.header { margin: 0px 0px 15px; }
			.sub { color: $color-gray; }
		}

		.form
		{
			grid-area: form;

			text-align: center;

			input
			{
				width: 60%;
				margin-right: 5%;
			}
		}
	}


	.page-links
	{
		margin-top: 50px;
		padding: 50px 25px;

		border-width: 2px 0px;
		border-style: solid;
		border-color: $color-primary;

		display: grid;
		grid-template-columns: 200px 200px 1fr 50px 200px 150px;
		grid-template-areas: 'left-1 left-2 center space right-1 right-2';

		> .column-left-1 { grid-area: left-1; }
		> .column-left-2 { grid-area: left-2; }
		> .center { grid-area: center; }
		> .column-right-1 { grid-area: right-1; }
		> .column-right-2 { grid-area: right-2; }

		.site-logo
		{
			align-self: center;

			text-align: center;
		}

		.links-list
		{
			.header
			{
				margin: 0px 0px 15px;
			}

			ul
			{
				@include reset-list-style;

				line-height: 1.5em;
			}
		}
	}


	.copyright-text
	{
		padding: 15px 25px;

		color: $color-gray;
	}
}